<% if medicine.errors.any? %>
<% medicine.errors.each do |error| %>
<p> <%= error.full_message %></p>
<% end %>

<% end %>

<%= form_with model: medicine do |form| %>

<%= form.label :Name %>
<%= form.text_field :name %>

<%= form.label :Price %>
<%= form.text_field :price%>

<%= form.submit %>

<% end %>