<h1>Doctor-Prescription Tracker</h1>

<h2>Doctors</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Field</th>
            <th>Prescription Count</th>
            <th>Prescription</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>

    <tbody>
    <% @doctors.each do |doctor| %>
        <tr>
            <td>
            <%= doctor.name %>
            </td>
            <td>
            <%= doctor.field %>
            </td>
            <td>
            <%= doctor.prescriptions.count %>
            </td>
            <td>
            <%= link_to 'View prescriptions', doctor_prescriptions_path(doctor.id) %>
            </td>
            <td>
            <%= link_to 'View', doctor_path(doctor) %>
            <%= link_to 'Edit', edit_doctor_path(doctor) %>
            <%= link_to 'Delete', doctor, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<%= link_to 'Add new doctor', new_doctor_path %>
<br>
<%= link_to 'View all medicines', medicines_path %>