<h2>Doctor's details</h2>

<h1><%= @id %></h1>

<p>Name:
    <span><%= @doctor.name %></span>
</p>

<p>Field:
    <span><%= @doctor.field %></span>
</p>

<p>License Number:
    <span><%= @doctor.license_number %></span>
</p>

<%= link_to 'Go back', doctors_path %>